body {
    font-family: Raleway, sans-serif;
    background-color: #222;
    color: white;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #dd0835;
}

.bestellungen {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.karte {
    background-color: #333;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    width: 90%;
    margin-left: 20px;
}

.karte h2 {
    margin-top: 0;
    color: #fff;

}

.karte p {
    margin: 5px 0;
    color: #ccc;
}

.preis {
    color: #dd0835;
    font-weight: bold;
    font-size: 1.1rem;
}

.datum {
    font-size: 0.9rem;
    color: #aaa;
}

footer{
    position: fixed;
    width: 100%;
    justify-content: center;
    bottom: 0px;
}
