@import url('https://fonts.googleapis.com/css2?family=Anton&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');




.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    background-color: #dd0835;
    padding: 20px;
    width: 100%;
}

.footer a {
    color: #fff;
    text-decoration: none;
    font-family: 'Raleway',
    sans-serif;
    font-size: clamp(12px, 1vw, 16px);
    font-weight: bold;
    transition: transform 0.3s ease;
}

.footer a:hover{
    transform: scale(1.05);
    text-decoration: underline;

}

.footer a::after {
    height: 3px;
    background-color: #fff;
    transition: width 0.3s ease;
}





