html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    background-color: #222;
}

footer {
}


.container{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 1vh;
}

.Speise{
    display: flex;
    background-color: #dd0835;
    margin-right: 25px;
    margin-left: 25px;
    text-align: center;
    flex-direction: column;
    border-radius: 15px;
    margin-bottom: 60px;
    min-width: 140px;
}



#ger{
    font-size: 6vh;
    color: white;
    margin-left: 20px;
}

#gerNaechsteWoche{
    font-size: 6vh;
    color: white;
    margin-left: 20px;
}

.Speise h1{
    font-size: 3vh;
    color: #fff;
}

.Speise img{
    width: 100%;
    height: auto;
}

.Speise h2{
    font-size: 3vh;
    color: #fff;
    margin-top: 5px;
}


.Speise h3{
    font-size: 3vh;
    color: #fff;
    margin-top: 5px;
}

.beschreibung{
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #333;
}


@media(max-width: 800px)
{
    .container{
        grid-template-columns: repeat(2, 30%);

    }

}
