html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    background-color: #222;
}

footer {
}

/*---------------Allgemeine Klassen----------------------*/


.container{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 1vh;

}

.Speise{
    display: flex;
    background-color: #dd0835;
    margin-right: 25px;
    margin-left: 25px;
    text-align: center;
    flex-direction: column;
    border-radius: 15px;
    margin-bottom: 60px;
    min-width: 140px;
    transition: 0.3s ease-in-out;
    flex-wrap: wrap;
}

.Speise:hover{
    filter: brightness(1.08);
    transform: translateY(-3px);
}


    .Speise img{
        width: 100%;
        height: auto;
    }

    .beschreibung{
        width: 100%;
        height: auto;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        background-color: #333;
    }
/*-------------------Boxen--------------*/
#ger{
    font-size: min(30px, 6vh);
    color: white;
    margin-left: 20px;
    padding: 5px;
}


.Speise h1{

    font-size:  3vh;
    color: #fff;
}



.Speise h2{
    font-size: 3vh;
    color: #fff;
}


.Speise h3{
    font-size: 3vh;
    color: #fff;
}


.beschreibung p{
    font-size: 2vh;
    color: #fff;
}
/*---------------Schriften----------------*/


@media(max-width: 800px)
{
    .container{
        justify-content: center;
        grid-template-columns: 80%;

    }



}
