html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    background-color: #222;
}

footer {
}

/*---------------Allgemeine Klassen----------------------*/


.container{
    display: grid;
    grid-template-columns: 23% 23% 23%;
    gap: 1vh;

}

.Speise{
    display: flex;
    background-color: #dd0835;
    margin-right: 25px;
    margin-left: 25px;
    text-align: center;
    flex-direction: column;
    border-radius: 15px;
    min-width: 140px;
    transition: 0.3s ease-in-out;
    flex-wrap: wrap;
}

.Speise:hover{
    filter: brightness(1.08);
    transform: translateY(-3px);
}


    .Speise img{
        width: 100%;
        height: auto;
    }

    .beschreibung{
        width: 100%;
        height: auto;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        background-color: #333;
    }
/*-------------------Boxen--------------*/
#ger{
    font-size: min(30px, 11vh);
    color: white;
    margin-left: 20px;
    padding: 5px;
}


.Speise h1{
    position: relative;
    font-size:  4vh;
    color: #fff;
}



.Speise h2{
    font-size: 3vh;
    color: #fff;
}


.Speise h3{
    font-size: 3.3vh;
    color: #fff;
}


.beschreibung p{
    font-size: 2.2vh;
    color: #fff;
}



/*---------------Schriften----------------*/


@media(max-width: 800px)
{
    .container{
        display: grid;
        grid-template-columns: 30% 30%;
        gap: 6vh;

    }

    .Speise{
        width: 150px;
    }

    .Speise h1{
        font-size: 2.6vh;
    }

    .Speise h3{
        font-size: 2.2vh;
    }

    .Speise p{
        font-size: 1.8vh;
    }

    .beschreibung{

    }

}
