@import url('https://fonts.googleapis.com/css2?family=Anton&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


*{
    font-family: Raleway;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}






.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 20px;
    border-bottom: 1px solid #ccc;
    background-color: #222;
    min-height: 70px;
    position: relative;
    z-index: 1000;

}


.LogoHeader{

    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.5vw;
    width: 20%;
    margin-left: 10px;
    color: white;
    z-index: 1000;
    padding: 20px 0;
}




.LogoHeader img{
    width: 15%;
    margin-right: 15px;
}



nav a{
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: 550;
    color: #000;
}

nav a:hover {
    transform: scale(1.05);
}

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background: #dd0835;
    transition: width 0.3s ease;
}

nav a:hover::after {
    width: 100%;
}

.Icons{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
    width: 13%;
    min-width: 13%;
}


.Icons img{
   width: 30px;
    height: auto;
}


#LogoSchuleKlein{
    width: 50px;
    min-width: 44px;
}




::-webkit-scrollbar {
    display: none;
}



.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    color: white;
    margin-right: 200px;

}

.menu{
    font-size: 1.5rem;
    margin: 0.5rem;

}



.navbar{
    display: flex;
}

.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li{
    list-style: none;
}

.navbar-links li a{
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover{
    background-color: #222;
}

.toggle-button{
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}


.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media(max-width: 768px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0%;
        width: 100%;
        background-color: #222;
        z-index: 999;
    }

    .navbar{
        flex-direction: column;
        align-items: flex-start;

    }

    .navbar-links ul{
        width: 100%;
        flex-direction: column;
    }


    .navbar-links li{
        text-align: center;

    }

    .navbar-links li a{
        padding: 0.75rem 1rem;
        font-size: 2.5vw;

    }

    .navbar-links.active{
        display: flex;
    }


    .Icons{
        visibility: hidden;
    }


    .LogoHeader p{
        font-size: clamp(14px, 1.8vh, 18px);
    }

    .LogoHeader img{
        width: 17%;
        min-width: 25px;
    }

}
