/* ---------------------------------------------------
   GLOBAL
--------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Raleway:wght@100..900&display=swap');

* {
    font-family: Raleway, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #222;
    color: white;
}

::-webkit-scrollbar {
    display: none;
}

/* ---------------------------------------------------
   LIGHT MODE
--------------------------------------------------- */
body.LightMode {
    background-color: white;
    color: black;
}

body.LightMode .Header,
body.LightMode .navbar {
    background-color: #f0f0f0;
}

body.LightMode .LogoHeader,
body.LightMode .navbar-links li a {
    color: black;
}

body.LightMode .toggle-button .bar {
    background-color: black;
}

body.LightMode #ger {
    background-color: white;
    color: black;
}

body.LightMode .container {
    background-color: #e2e8f0;
}

body.LightMode .Speise {
    background-color: #dd0835;
    color: black;
}

body.LightMode .beschreibung {
    background-color: #444;
}

body.LightMode main {
    background-color: #fff;
    color: black;
}

/* ---------------------------------------------------
   HEADER
--------------------------------------------------- */
.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 20px;
    border-bottom: 1px solid #ccc;
    background-color: #222;
    min-height: 70px;
    position: relative;
    z-index: 1000;
}

.LogoHeader {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.5vw;
    width: 20%;
    margin-left: 10px;
    color: white;
}

.LogoHeader img {
    width: 15%;
    margin-right: 15px;
}

/* ---------------------------------------------------
   NAVIGATION
--------------------------------------------------- */
nav a {
    position: relative;
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: 550;
    color: #000;
    transition: transform 0.2s ease;
}

nav a:hover {
    transform: scale(1.05);
}

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background: #dd0835;
    transition: width 0.3s ease;
}

nav a:hover::after {
    width: 100%;
}

/* ---------------------------------------------------
   ICONS
--------------------------------------------------- */
.Icons {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
    width: 13%;
    min-width: 13%;
}

.Icons img {
    width: 30px;
    height: auto;
}

#LightBulb,
#LightBulbHellerModus {
    position: absolute;
    right: 90px;
}

/* ---------------------------------------------------
   NAVBAR
--------------------------------------------------- */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    color: white;
    margin-right: 200px;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    background-color: #222;
}

/* ---------------------------------------------------
   BURGER MENU
--------------------------------------------------- */
.toggle-button {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 30px;
    height: 30px;
    right: 1vh;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/* ---------------------------------------------------
   RESPONSIVE
--------------------------------------------------- */
@media (max-width: 768px) {

    .toggle-button {
        display: flex;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #222;
        z-index: 999;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: 0.75rem 1rem;
        font-size: 4.5vw;
    }

    .navbar-links.active {
        display: flex;
    }

    .Icons {
        visibility: hidden;
    }

    .LogoHeader p {
        font-size: clamp(14px, 1.8vh, 18px);
    }

    .LogoHeader img {
        width: 17%;
        min-width: 25px;
    }
}
