html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}




body {
    font-family: Raleway, sans-serif;
    background-color: #222;
    color: white;
    margin: 0;
}

h1 {
    text-align: center;
    color: #dd0835;
    margin-bottom: 30px;
}

.content {
    width: 70%;
    max-width: 800px;
    margin: 0 auto;
    background-color: #333;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.container p{
    line-height: 1.6;
    color: #ddd;
    font-size: 1.1rem;
}

.highlight {
    color: #dd0835;
    font-weight: bold;
}

